body{
    background-color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #d1d1c6;
    
  }
  th, td {
    text-align: left;
    padding: 8px;
    border: 2px solid black;
    border-collapse: collapse;
  }
  
  thead tr {
  background-image: linear-gradient(to right, blue, indigo, violet, indigo, blue);
  }

  #addListItem{
    border-radius: 50px 250px;
    background-image: linear-gradient(to right, blue, indigo, violet, indigo, blue);
    background-position: center;
    font-size: 90%;
    text-align:center;
    border: 2px solid black;
    margin: 12px;
  }

  h2{
    border-radius: 50px 250px;
    background-image: linear-gradient(to right, violet, indigo, blue, indigo, violet);
    background-position: center;
    font-size: 150%;
    text-align:center;
    border: 2px solid black;
    margin: 12px;
  }

  h3{
    border-radius: 50px 250px;
    background-position: center;
    font-size: 200%;
    text-align:center;
    margin: 12px;
  }

.green{
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

button{
    background-color: blueviolet;
}
input{
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
}

